// https://www.color-hex.com/color-palette/71062

$blue  : #006292;
$cream  : #f3efe0;

$font: Helvetica Neue, sans-serif;

$ease   : 0.3s ease all;

@mixin ease($property){
  transition: $ease;
  -webkit-transition: $ease;
  -moz-transition: $ease;
}

.grid-container {
  display: grid;
  grid-gap: 3em;
  padding: 10px;
  margin-top: 50px;
}

@media screen and (max-width: 780px) {
	.grid-container {
		grid-template-columns: 1fr;
	}
}