@import '/global.scss';

body {
  font-family: $font !important;
  background: $cream;
}

header {
  height: 500px;
  width: 100%;
  text-align: center;
  background: $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  .call {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    padding: .75em 15px;
    font-size: 34px;
    color: #fff;
    background: transparent;
    border: 1px solid $cream;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    @include ease(transition($ease));
    a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      display: block;
      text-align: center;
      height: 80px;
      width: 80px;
      line-height: 80px;
      border-radius: 100%;
    }
    &:hover {
      background: rgba(0,0,0,0.2);
      svg {
        transform: scale(1.2);
      }
    }
    svg {
      fill: $cream;
      @include ease(transition($ease));
    }
  }
  div {
    h1 {
      font-size: 3em;
      font-weight: normal;
      a {
        color: $cream;
        text-decoration: none;
      }
    }
  }
  span {
    display: block;
    font-size: 38px;
    font-weight: 100 !important;
    color: $cream;
  }
}

main {
  padding: 60px 0 40px 0;
}

a {
  text-decoration: none;
  color: $blue;
  font-weight: bold;
}

span.highlight {
  font-weight: bold;
  border-bottom: 2px solid $blue;
}

.contactUs {
  margin: 80px 0;
  text-align: center;
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -45px;
    left: 15%;
    width: 70%;
    height: 1px;
    background: $blue;
    text-align: center;
  }
}

.footer {
  text-align: center;

  img {
    max-width: 80px;
    margin: 0 8px;
  }
}

// HOME PAGE
.homePage {
  display: grid;
  grid-auto-columns: auto auto auto auto;
  grid-gap: 4em;

  div {
    &:first-child {
      grid-row: 1;
      grid-column: 1 / span 2;
    }
    &:nth-child(2) {
      grid-row: 1;
      grid-column: 3 / span 2;
    }
    &:nth-child(3) {
      grid-row: 2;
      grid-column: 3 / span 2;
    }
    &:nth-child(4) {
      grid-row: 2;
      grid-column: 1 / span 2;
    }
    &:nth-child(5) {
      grid-row: 3;
      grid-column: 1 / span 2;
    }
    &:last-child {
      grid-row: 3;
      grid-column: 3 / span 2;
    }
    img {
      border-radius: 5px;
    }
  }
}

@media screen and (max-width: 780px) {
  .homePage {
    div {
      grid-column: 1 / span 4 !important;
      &:first-child {
        grid-row: 1;
      }
      &:nth-child(2) {
        grid-row: 2;
        text-align: center;
      }
      &:nth-child(3) {
        grid-row: 3;
      }
      &:nth-child(4) {
        text-align: center;
        grid-row: 4;
      }
      &:nth-child(5) {
        grid-row: 5;
      }
      &:last-child {
        text-align: center;
        grid-row: 6;
      }
      img {
        margin: auto;
        max-width: 80%;
        border-radius: 5px;
      }
    }
  }
}

// END HOME PAGE

// SERVICES PAGE

.servicesPage {
  .serviceList {
    display: flex;
    flex-wrap: wrap;
    div {
      &:first-child {
        width: 50%;
      }
      ul {
        margin: 0 0 0 20px;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .serviceList {
    div {
      width: 90%;
    }
  }
}

// END SERVICES PAGE

// ABOUT PAGE

.aboutPage {
  div {
    &:first-child {
      grid-row: 1 / span 2;
      grid-column: 3 / span 2;
    }
    &:nth-child(2) {
      grid-row: 1;
      grid-column: 1 / span 2;
    }
    &:last-child {
      grid-row: 2;
      grid-column: 1 / span 2;
    }
  }
}

@media screen and (max-width: 780px) {
.aboutPage
  div {
    grid-column: 1 / span 4 !important;

    &:first-child {
      grid-row: 3;
    }
    &:nth-child(2) {
      grid-row: 1;
    }
    &:last-child {
      grid-row: 2;
    }
  }
}

// END ABOUT PAGE

// CONTACT PAGE

.aboveForm {
  display: grid;
  grid-gap: 4em;
  div {
    grid-row: 1;
    &:first-child {
      grid-column: 3 / span 1;
    }
    &:last-child {
      grid-column: 1 / span 2;
    }
  }
}

.contactForm {
  width: 100%;
  margin: 40px auto;

  form {
    display: grid;
    font-family: $font;
    grid-template-columns: 2fr 2fr;
    border-radius: 10px;
    padding: 20px;
    grid-gap: 1em;
    .formName,
    .formEmail,
    .formMessage {
      margin-bottom: 10px;
      label {
        font-family: $font;
        font-size: .8em;
        font-weight: bold;
        color: $blue;
        padding: 8px 0;
        text-transform: uppercase;
      }
    }
    .formName,
    .formEmail,
    .formMessage {
      position: relative;
      input,
      textarea {
        position: relative;
        display: block;
        margin-top: 6px;
        background: darken($cream, 10%);
        font-size: 1.8em;
        font-weight: bold;
        border-top: 0; border-right: 0; border-left: 0;
        @include ease(transition($ease));
        
        &:focus {
          background: darken($cream, 13%);
          color: #333;
          border-color: $blue;
        }
      }
    }
    .formName,
    .formEmail {
      input,
      select {
        width: 100%;
        padding: 7px;
      }
    }
    .formName {
      grid-column: 1 / 2;
    }
    .formEmail {
      grid-column: 2 / 4;
    }
    .formMessage {
      grid-column: 1 / 4;
      textarea {
        width: 100%;
        font-family: $font;
        padding: 7px;
      }
    }
    button {
      font-family: $font;
      font-weight: bold;
      padding: 20px 40px;
      background: $blue;
      outline: 0;
      border: none;
      color: #fff;
      @include ease(transition($ease));
      &:hover {
        cursor: pointer;
        background: darken($blue, 10%);
        color: #ddd;
      }
    }
  }
}

// END CONTACT PAGE

/* Default styles*/

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
footer,
main,
nav {
  display: block;
}
.hide,
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font;
  color: $blue !important;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.5rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: $font;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
strong {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}