@import '/global.scss';

svg {
  fill: #fff;
  &:hover {
    opacity: 0.7;
    @include ease(transition($ease));
  }
}

.menu-toggle {
  position: fixed;
  top: 5px;
  left: 5px;
  display: inline-block;
  padding: .75em 15px;
  font-size: 34px;
  color: #fff;
  background: darken($blue, 10%);
  border-radius: 100%;
  height: 80px;
  width: 80px;
  text-align: center;
  cursor: pointer;
  @include ease(transition($ease));
  &:hover {
    background: darken($blue, 15%);
    svg {
      transform: scale(1.2);
    }
  }
  svg {
    @include ease(transition($ease));
  }
}

.menu-toggle:hover,
#main-menu-checkbox:focus ~ .navigation .menu-toggle {
  color: lighten($blue, 15%);
}

#main-menu-checkbox {
  position: absolute;
  top: 0;
  left: -100vw;
}

.main-menu {
  position: fixed;
  left: -100vw;
  top: 0;
  height: 100vh;
  overflow-y: none;
  overflow-x: none;
  transition: left 0.3s ease;
  z-index: 999;
  background: darken($blue, 10%);
  ul {
    font-family: $font;
    list-style: none;
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
    padding: 2.5em 0 0;
    overflow-y: none;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    li {
      a {
        display: block;
        margin: 5px 10px;
        padding: 15px;
        line-height: 1.5em;
        font-size: 1.7em;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
        &:hover,
        &:focus {
          color: #ddd;
        }
      }
    }
  }
  .menu-close {
    &:hover {
      color: #ddd;
    }
  }
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
  height: 70px;
  width: 70px;
  line-height: 70px;
  padding: 5px 15px;
  text-align: center;
  cursor: pointer;
  border-radius: 100%;
  display: block;
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  &:hover {
    background: none;
  }
}

#main-menu-checkbox:checked ~ .navigation .main-menu,
.main-menu[aria-expanded="true"] {
  left: 0;
  outline: none;
}

#main-menu-checkbox:checked ~ .navigation .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

#main-menu-checkbox:checked ~ .navigation .main-menu ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}



.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}